<?xml version='1.0' encoding='utf-8'?>
<plugin id="cl-entel-plugins-digital" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">

  <name>digital</name>

  <js-module name="Digital" src="www/digital.js">
    <clobbers target="digital" />
  </js-module>

  <dependency id="cordova-plugin-add-swift-support" version="1.7.2"/>

  <platform name="android">

    <config-file target="config.xml" parent="/*">
      <feature name="Digital">
        <param name="android-package" value="cl.entel.plugins.digital.Digital"/>
      </feature>

      <preference name="android-minSdkVersion" value="14"/>
      <preference name="android-targetSdkVersion" value="22"/>
    </config-file>






    <config-file target="AndroidManifest.xml" parent="/manifest/application">
        <activity android:label="Connection" android:name="cl.entel.plugins.digital.Connection">
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />                
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
                <action android:name="android.hardware.usb.action.USB_DEVICE_DETACHED" />
                <meta-data android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" android:resource="@xml/device_filter"/>
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </config-file>

    <source-file src="src/android/Digital.java" target-dir="src/cl/entel/plugins/digital" />
    <source-file src="src/android/Globals.java" target-dir="src/cl/entel/plugins/digital" />
    <source-file src="src/android/Connection.java" target-dir="src/cl/entel/plugins/digital" />
    <source-file src="src/android/connection.xml" target-dir="res/layout"/>



    <framework src="src/android/file.gradle" custom="true" type="gradleReference" />
    

    <resource-file src="lib/dpuareu.jar"                target="libs/dpuareu.jar"/>
    <resource-file src="lib/armeabi/libdpfj.so"         target="jniLibs/armeabi/libdpfj.so"/>
    <resource-file src="lib/armeabi/libdpfpdd_tcd58.so" target="jniLibs/armeabi/libdpfpdd_tcd58.so"/>
    <resource-file src="lib/armeabi/libdpfpdd.so"       target="jniLibs/armeabi/libdpfpdd.so"/>
    <resource-file src="lib/armeabi/libdpfpdd5000.so"   target="jniLibs/armeabi/libdpfpdd5000.so"/>
    <resource-file src="lib/armeabi/libdpfr6.so"        target="jniLibs/armeabi/libdpfr6.so"/>
    <resource-file src="lib/armeabi/libdpfr7.so"        target="jniLibs/armeabi/libdpfr7.so"/>
    <resource-file src="lib/armeabi/libdpuareu_jni.so"  target="jniLibs/armeabi/libdpuareu_jni.so"/>
    <resource-file src="lib/armeabi/libdpuvc.so"        target="jniLibs/armeabi/libdpuvc.so"/>




      
  </platform>
</plugin>