<?xml version='1.0' encoding='utf-8'?>
<plugin id="cl-entel-plugins-digital" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">

  <name>digital</name>

  <js-module name="Digital" src="www/digital.js">
    <clobbers target="digital" />
  </js-module>

  <dependency id="cordova-plugin-add-swift-support" version="1.7.2"/>

  <platform name="android">

    <config-file target="config.xml" parent="/*">
      <feature name="Digital">
        <param name="android-package" value="cl.entel.plugins.digital.Digital"/>
      </feature>
    </config-file>


    <source-file src="src/android/Digital.java" target-dir="src/cl/entel/plugins/digital" />
      
  </platform>
</plugin>